{% extends "base.html" %}

{% block content %}
    <h2>Acerca del Sistema</h2>

    <p>
        El Sistema de Gestión Operativa de la UNMO ha sido desarrollado para apoyar
        la planificación, control y seguimiento de las operaciones policiales,
        permitiendo una mejor administración del personal, equipos tácticos,
        servicios operativos y reportes.
    </p>

    <p>
        Este proyecto forma parte del desarrollo académico de la asignatura
        Desarrollo de Aplicaciones Web.
    </p>
{% endblock %}