<!DOCTYPE html>
<html>
<head>
<title>Editar Usuario</title>
</head>
<body>

<h2>Editar Usuario</h2>

<form action="/actualizar_usuario" method="POST">

<input type="hidden" name="id" value="{{ usuario[0] }}">

<label>Nombre:</label><br>
<input type="text" name="nombre" value="{{ usuario[1] }}"><br><br>

<label>Email:</label><br>
<input type="email" name="email" value="{{ usuario[2] }}"><br><br>

<label>Password:</label><br>
<input type="text" name="password" value="{{ usuario[3] }}"><br><br>

<button type="submit">Actualizar</button>

</form>

</body>
</html>